body{
    background-color: rgb(249, 249, 164);
    margin: 0;
}
.cabecera{
    width: 100px;
    height: 100px;
    transition: 3s;
}
.cabecera:hover{
    filter: sepia(50%);
    transform: scale(1.2);
    transition: 3s;
}
nav{
    background-color: rgb(242, 252, 96);
    float:left;
    height: 50px;
    text-align: center;
    width: 1000px;
}
.boxmenu{
    width: 333px;
    height: 50px;
    float: left;
}
.boxmenu:hover{
    background-color: rgba(252, 252, 174, 0.814);
}
.btnmenu{
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-family:'Franklin Gothic Medium';
    text-decoration:none;
}
.btnmenu:hover{
    color: rgb(255, 255, 255);
}
#contenedor{
    margin: auto;
    width: 1000px;
}
header{
    background-color: rgb(252, 252, 130);
    float:left;
    height: 200px; 
    padding: 20px;
    text-align: center;
    width: 960px;
    overflow: hidden;
}


aside{
    background-color: rgb(248, 248, 122);
    padding: 20px;
    float:left;
    height: 150px; 
    width: 460px;
    overflow: hidden;
    text-align: center;
}

section{
    background-color: rgb(252, 252, 116);
    padding: 20px;
    float:left;
    height: 150px; 
    width: 460px;
    overflow: hidden;
    text-align: center;
}


.footer{
    background-color: rgb(246, 246, 140);
    float:left;
    height: 430px; 
    width: 460px; 
    text-align: center;
    padding: 20px;
}
footer{
    background-color: rgb(252, 252, 104);
    float:left;
    height: 430px; 
    width: 460px; 
    padding: 20px;
}

.footer1{
    background-color: rgb(247, 247, 107);
    width: 940px;
    height: 300px;
    padding: 30px;
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
}