body{
    margin: 0;
    background-color: rgb(180, 217, 254);
}
.cabecera{
    width: 100px;
    height: 100px;
    transition: 3s;
}
.cabecera:hover{
    filter: sepia(50%);
    transform: scale(1.2);
    transition: 3s;
}
nav{
    background-color: rgba(66, 176, 250, 0.805);
    float:left;
    height: 50px;
    text-align: center;
    width: 1000px;
}
.boxmenu{
    width: 333px;
    height: 50px;
    float: left;
}
.boxmenu:hover{
    background-color: rgba(141, 209, 254, 0.805);
}
.btnmenu{
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-family:'Franklin Gothic Medium';
    text-decoration:none;
}
.btnmenu:hover{
    color: rgb(255, 255, 255);
}

#contenedor{
    margin: auto;
    width: 1000px;
}





header{
    background-color: rgba(105, 183, 255, 0.901);
    float:left;
    height: 200px; 
    padding: 20px;
    text-align: center;
    width: 960px;
    overflow: hidden;
}

.section1{
    background-color: rgb(110, 149, 240);
    width: 460px;
    padding: 20px;
    float: left;
    text-align: center;
}
.section2{
    background-color: rgb(89, 129, 185);
    width: 460px;
    padding: 20px;
    float: left;
    text-align: center;
}
.section3{
    background-color: rgb(79, 135, 180);
    width: 460px;
    padding: 20px;
    float: left;
    height: 480px;
    
}
.section4{
    background-color: rgb(122, 170, 229);
    width: 460px;
    padding: 20px;
    float: left;
    height: 480px;
}
.section5{
    background-color: rgb(126, 180, 250);
    width: 940px;
    height: 300px;
    padding: 30px;
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
}